{% extends 'layout.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block header %}
{{ header({
    "service": {
        "name": "Issue maternity exemption certificates",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
<style>
@media (max-width: 40.0525em) {
.nhsuk-breadcrumb__list {
    display: block !important;
}
}
</style>

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list" style="text-align: right;">
        <li style="font-weight: 400; font-size: 14px; font-size: 1rem; line-height: 1.5; display: inline-block; margin-bottom: 0; padding-left: 3px; padding-right: 27px;">{{ data['nhs-mail-address'] }}</li>
        <li style="font-weight: 400; font-size: 14px; font-size: 1rem; line-height: 1.5; display: inline-block; margin-bottom: 0; padding-left: 3px; padding-right: 27px;"><a href="../ms-signed-out">Sign out</a></li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <span class="nhsuk-caption-l nhsuk-caption--top">Issue maternity exemption certificates</span>
        <h1 class="nhsuk-fieldset__legend--l">
                Application details
        </h1>

        <form action="/v2/issue-maternity-exemption-certificates/signed-in/about-mother" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <div class="nhsuk-form-group">
                                <label class="nhsuk-label" for="mothers-first-name">
                                    Mother's first name
                                </label>
                                <input class="nhsuk-input nhsuk-input--width-20" id="mothers-first-name" name="mothers-first-name"
                                    type="text">
                            </div>
        
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label" for="mothers-last-name">
                                    Mother's last name
                                </label>
                                <input class="nhsuk-input nhsuk-input--width-20" id="mothers-last-name" name="mothers-last-name"
                                    type="text">
                            </div>
        
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label" for="mothers-date-of-birth">
                                    Mother's date of birth
                                </label>
                                <span class="nhsuk-hint" id="input-with-hint-text-hint">
                                    <p>For example, 01/03/1980</p>
                                </span>
                                <input class="nhsuk-input nhsuk-input--width-10" id="mothers-date-of-birth"
                                    name="mothers-date-of-birth" type="text">
                            </div>
        
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label" for="mothers-NHS-number">
                                    Mother's NHS number
                                </label>
                                <input class="nhsuk-input nhsuk-input--width-10" id="mothers-NHS-number" name="mothers-NHS-number"
                                    type="text">
                            </div>
        
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label" for="mothers-postcode">
                                    Mother's postcode
                                </label>
                                <input class="nhsuk-input nhsuk-input--width-10" id="mothers-postcode" name="mothers-postcode"
                                    type="text">
                            </div>
        
                            <h1 class="nhsuk-fieldset__legend--l nhsuk-u-margin-top-5">
                                About the baby
                            </h1>
        
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label" for="due-birth-date">
                                    Due date or baby's birth date
                                </label>
                                <span class="nhsuk-hint" id="input-with-hint-text-hint">
                                    <p>For example, 01/03/2019</p>
                                </span>
                                <input class="nhsuk-input nhsuk-input--width-10" id="due-birth-date" name="due-birth-date"
                                    type="text">
                            </div>

                </fieldset>



            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}