{% extends 'layout.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

            {{ backLink({
                "href": "javascript:history.go(-1)",
                "text": "Go back"
            }) }}

            <div class="nhsuk-panel nhsuk-u-margin-bottom-5" style="background: #425563; margin-top: 0;">
    
                    <span class="nhsuk-caption-xl nhsuk-caption--top" style="text-align: center; color: white;">Based on what you've told us</span>

                    <h1 class="nhsuk-panel__title" style="color: white;">
                            We cannot complete your registration
                    </h1>
                    
                </div>

                <p>The information you have provided does not match your Electronic Staff Record (ESR).</p>

        <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            NHSmail address
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            {{ data['nhs-mail-address'] }}
                        </dd>
        
                        <dd class="nhsuk-summary-list__actions">
        
                            <a href="nhs-mail-address#nhs-mail-address">
                                Change<span class="nhsuk-u-visually-hidden"> your NHSmail address</span>
                            </a>
        
                        </dd>
        
                    </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Last name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ data['users-last-name'] }}
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="register#users-last-name">
                        Change<span class="nhsuk-u-visually-hidden"> your last name</span>
                    </a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    NMC pin
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ data['users-nmc-pin'] }}
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="register#users-nmc-pin">
                        Change<span class="nhsuk-u-visually-hidden"> your NMC pin</span>
                    </a>

                </dd>

            </div>


            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ data['users-dob-day'] }} / {{ data['users-dob-month'] }} / {{ data['users-dob-year'] }}
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="register#users-dob-day">
                        Change<span class="nhsuk-u-visually-hidden"> your date of birth</span>
                    </a>

                </dd>

            </div>

        </dl>

        <details class="nhsuk-details nhsuk-u-margin-bottom-3">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                            My information is correct
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>If your information is correct but we are still unable to confirm your details, you should email us at <a href="mailto:nhsbsa.healthcosts@nhs.net">nhsbsa.healthcosts@nhs.net</a>.</p>
                </div>
        </details>



    </div>
</div>
{% endblock %}