{% extends 'layout.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

            {{ backLink({
                "href": "javascript:history.go(-1)",
                "text": "Go back"
            }) }}

        <h1>Registration outcomes</h1>

        <ul>
            <li><a href="result-verified">Email has been verified</a></li>
            <li><a href="result-expired">Verification link expired</a></li>
            <li><a href="result-already-registered">NHSmail already registered</a></li>
            <li><a href="check-your-answers-not-matched">Information not matched in ESR</a></li>
        </ul>  

    </div>
</div>


{% endblock %}