{% extends 'layout.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="nhsuk-error-summary__body">
                <p>
                    Check your answer. You must:
                </p>
                <ul class="nhsuk-list nhsuk-error-summary__list">
                    <li>
                        <a href="#error-summary-1">Select 'yes' if you have an NHSmail account</a>
                    </li>
                </ul>
            </div>
        </div>

        <span class="nhsuk-caption-l nhsuk-caption--top">Register to issue maternity exemption certificates</span>
        <h1 class="nhsuk-fieldset__legend--l">
            Do you have an NHSmail account?
        </h1>

        <form action="/v1/issue-maternity-exemption-certificates/register/have-nhs-mail" method="post">

            <div class="nhsuk-form-group nhsuk-form-group--error">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                        <span class="nhsuk-hint" id="example-hint">
                                NHSmail account addresses end with @nhs.net
                            </span>

                        <span class="nhsuk-error-message" id="error-summary-1">
                                <span class="nhsuk-u-visually-hidden">Error:</span> Select 'yes' if you have an NHSmail account
                        </span>

                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="yes" name="nhs-mail" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="no" name="nhs-mail" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>



            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}