{% extends 'layout.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <span class="nhsuk-caption-l nhsuk-caption--top">Issue maternity exemption certificates</span>
        <h1 class="nhsuk-u-margin-bottom-5">What you'll need</h1>

        <p>To create an account you must be a midwife, practice nurse or health visitor registered with the NMC.</p>
        <p>To help us verify your professional identity, we'll ask for your:</p>

        <ul>
            <li>last name</li>
            <li>date of birth</li>
            <li>NMC PIN</li>
            <li>NHSmail address</li>
        </ul>

        <p>Registration takes less than 5 minutes.</p>

        <p><a href="have-nhs-mail" class="nhsuk-button nhsuk-u-margin-bottom-4">Continue</a></p>

        <details class="nhsuk-details nhsuk-u-margin-bottom-3">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                        I do not have an NHSmail account
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>If you're working in a Trust or organisation that uses NHSmail, you can contact your local administrator or IT helpdesk to set up an account.</p>
                    <p><a target="_blank" href="https://portal.nhs.net/Help/joiningnhsmail">Read more about how to join NHSmail.</a></p>
    
    
                </div>
        </details>
        <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                        I'm a GP with a GMC reference number
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>You can still register to use this service.</p>
                    <p>To register, email <a target="_blank" href="mailto:nhsbsa.healthcosts@nhs.net">nhsbsa.healthcosts@nhs.net</a> and include your:</p>
                    <ul>
                        <li>name</li>
                        <li>GMC reference number</li>
                        <li>NHSmail address</li>
                    </ul>
                    <p>Once we’ve received this information, we'll email you to confirm you are registered. You will then be able to use the online service.</p>
                </div>
        </details>


    </div>

</div>
{% endblock %}