<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Change the page title here -->
    <h1>
      Issue maternity exemption certificates
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version 1.0</span>
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

    <p class="nhsuk-body-l">
      This service allows midwives, practice nurses or health visitors to issue maternity exemption certificates on behalf of new or expectant mothers.
    </p>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Sprint 68
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Using NHS.UK design system for issuing maternity exemption certificates
        </h2>
        <h3 class="nhsuk-heading-m">Hypothesis A</h3>
        <p style="background: #DEE0E2; padding: 20px;"><strong>We
            believe</strong> that using the NHS.UK design system for issuing maternity exemption certificates
          <strong>will
            be a useful feature for</strong> every midwife, practice nurse or health visitor who is applying on behalf of a expectant mother
          <strong>as it will</strong> reassure them that the service is a part of the wider group of
          NHS services. <strong>This
            will</strong>
          help midwives, practice nurses or health visitors accomplish their needs more efficiently due to the fact we are now being more consistant.
        </p>

        <p>The NHS Identity is one of the most cherished and recognised brands in the world. When applied correctly and
          consistently, it evokes exceptionally high levels of trust and reassurance.</p>

        <p>By using NHS Business Services Authority branding for each patient facing service, we are unknowingly diluting
          the power of the NHS brand.</p>

        <p>In short, by being more consistant with <a href="https://www.nhs.uk/">NHS.UK</a>, usability and learnability
          will improve because we will be using similar elements which look and function in similar way. </p>
        <hr>
        <h3 class="nhsuk-heading-m">What we changed:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>We replicated the current maternity exemption service into the NHS.UK design system.</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Are users still able to successfully issue maternity exemption certificates on behalf of expectant mothers?</li>
          <li>Does usability improve because we are now being more consistant with the wider NHS?</li>
          <li>As a bonus of adopting the new design system, are we now more accessible than we were previously?</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-m">Known issues:</h4>
            <p>There are no NHS.UK alternatives to the following GDS / BSA components:</p>
            <ul class="nhsuk-list nhsuk-list--number">
              <li><a target="_blank" href="https://design-system.service.gov.uk/components/radios/#conditionally-revealing-content">Conditionally revealing content</a></li>
              <li><a target="_blank" href="/images/bsa-invitation-screens.png">Invitation pages</a></li>
              <li><a target="_blank" href="https://design-system.service.gov.uk/patterns/confirmation-pages/">Confirmation pages</a></li>
              <li><a target="_blank" href="https://github.com/alphagov/govuk-design-system-backlog/issues/29">Making a declaration</a></li>
            </ul>
            <hr>
            <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
              <a class="nhsuk-action-link__link" href="/v1/issue-maternity-exemption-certificates/start">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Issue maternity exemption certificates (MVP)</span>
              </a>
            </div>

      </div>
    </details>

    <!-- End of content -->

  </div>
</div>
{% endblock %}